[include]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Documents/work/"]
  path = ~/.gitconfig-work-hanzo
[core]
  excludesFile = ~/.gitignore_global
[alias]
  all = add .
  am = commit -am
  b = branch --list -a
  back = "!git reset --soft HEAD~1 && git reset HEAD . #"
  cd = checkout develop
  l = log --pretty=format:'%Cgreen%h%Creset -%Creset %s%C(yellow)%d %Cblue(%aN, %cr)%Creset' --abbrev-commit --date=relative
  p = pull
  poh = push origin HEAD
  rall = clean -df .
  s = status -s
  st = status
  new = "!git l $1..HEAD #"
  missing = "!git l HEAD..$1 #"
  d = diff --word-diff
  ds = d --staged
  sh = stash save --keep-index --include-untracked
  m = merge
  mc = m --continue
  r = "!git rebase -i HEAD~\"$1\" #"
  bl = blame -w -C -C -C
[rebase]
  autoStash = true
[gc]
  reflogExpire = 180
  reflogExpireUnreachable = 180
[rerere]
	enabled = true
