#!/usr/bin/env bash

#####################################################################################
#                                                                           SHORTCUTS
#####################################################################################
# paths
alias ..='cd ..'
alias ...='cd ../..'
alias projectes='cd  ~/Documents/projectes/'
alias profile='s ~/.bash_profile'
alias reload="source ~/.bash_profile"
alias fuck='sudo $(history -p \!\!)' # add sudo to last command
# make mv and rm a bit more safe
alias mv='mv -i'
alias rm='rm -i'
# console
alias ls="exa -l --git -h -g -a --sort=type"
alias lst="exa -l --git -h -g -a -T -L=2"
alias host="sudo $VISUAL /etc/hosts"
alias v="$VISUAL"
alias vi="$VISUAL"
alias vim="$VISUAL"
alias s="$VISUAL ."
#weinre WEb INspector REmote
alias weinreall="weinre -boundHost -all-"
# Install npm plugins from package.json and save to devDependencies
alias npmdev="npm install --save-dev"
# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
#####################################################################################
#                                                                                 Git
#####################################################################################
alias dot='/usr/bin/git --git-dir=/Users/zgtc/.config-dot/ --work-tree=/Users/zgtc'
alias ds="dot status"
alias da="dot add"
alias dco="dot commit"
alias dpom="dot push origin master"
alias dl="dot log --pretty=format:'%Cgreen%h%Creset -%Creset %s%C(yellow)%d %Cblue(%aN, %cr)%Creset' --abbrev-commit --date=relative --first-parent"
alias gs="git status"
alias gl="git log --pretty=format:'%Cgreen%h%Creset -%Creset %s%C(yellow)%d %Cblue(%aN, %cr)%Creset' --abbrev-commit --date=relative --first-parent"
alias glg="git log --graph --pretty=format:'%Cgreen%h%Creset -%Creset %s%C(yellow)%d %Cblue(%aN, %cr)%Creset' --abbrev-commit --date=relative"
alias gall="git add ."
alias gback="git reset --soft HEAD~1 && git reset HEAD ."
alias grall="git clean -df ." # removes all untracked files
alias gp="git pull"
alias gam="git commit -am"
alias gpom="git push origin master"
alias gpoh="git push origin HEAD"
alias gc="git checkout"
alias gcd="git checkout develop"
alias gb="git branch --list -a"
alias gg="git log --oneline --abbrev-commit --branches=* --graph --decorate --color"
alias gatpc="git branch --merged | grep -Gv '*' | xargs git branch -d"
