#!/usr/bin/env bash

#####################################################################################
#                                                                           SHORTCUTS
#####################################################################################
# paths
alias ..='cd ..'
alias ...='cd ../..'
alias reload="source ~/.bash_profile"
alias fuck='sudo $(history -p \!\!)' # prepend sudo to last command
# make mv and rm a bit more safe
alias mv='mv -i'
alias rm='rm -i'
# console
[[ `uname -v | grep "ARM64"` != "" ]] && alias brew="arch -arm64 brew"
if [[ `which python3` != "" ]]; then
  alias python="python3"
  alias pip="pip3"
fi
if [[ `which exa` != "" ]]; then
  alias es="exa -l --git -h -g -a --group-directories-first --icons"
  alias est="es -T -L=2"
fi
alias host="sudo $VISUAL /etc/hosts"
alias v="$VISUAL"
alias t="tmux"
alias tl="tmux ls"
alias ta="tmux attach -t $1"
alias tk="tmux-killer"
# Install npm plugins from package.json and save to devDependencies
alias npmdev="npm install --save-dev"
alias yi="yarn install"
alias ys="yarn start"
# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
#####################################################################################
#                                                                                 Git
#####################################################################################
alias dot='/usr/bin/git --git-dir=/$HOME/._dotfiles.git/ --work-tree=/$HOME'
alias ds="dot status"
alias da="dot add"
alias dco="dot commit"
alias dpoh="dot push origin HEAD"
alias dl="dot log --pretty=format:'%Cgreen%h%Creset -%Creset %s%C(yellow)%d %Cblue(%aN, %cr)%Creset' --abbrev-commit --date=relative"
alias gs="git status"
alias gl="git log --pretty=format:'%Cgreen%h%Creset -%Creset %s%C(yellow)%d %Cblue(%aN, %cr)%Creset' --abbrev-commit --date=relative"
alias glp="gl --first-parent"
alias gg="git log --oneline --abbrev-commit --branches=* --graph --decorate --color"
alias glg="git log --graph --pretty=format:'%Cgreen%h%Creset -%Creset %s%C(yellow)%d %Cblue(%aN, %cr)%Creset' --abbrev-commit --date=relative"
alias gall="git add ."
alias gia="git-interactive-add" # .config/bin/git/git-interactive-add
alias gc="git-interactive-checkout" # .config/bin/git/git-interactive-checkout
alias gcd="git checkout develop"
alias gback="git reset --soft HEAD~1 && git reset HEAD ."
alias grall="git clean -df ." # removes all untracked files
alias gp="git pull"
alias gam="git commit -am"
alias gpoh="git push origin HEAD"
alias gb="git branch --list -a"
alias gwt="git-worktree" # .config/bin/git/git-worktree
alias gatpc="git branch --merged | grep -Gv '*' | xargs git branch -d"
