#!/usr/bin/env bash

#####################################################################################
#                                                                      EXPORTS / PATH
#####################################################################################

export EDITOR="vi"
export VISUAL="nvim"

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# locale needed for tmux to digest nerd fonts properly
export LANG="en_US.UTF-8"
export LC_ALL=$LANG

# Folders for git / backup purposes
export DIR_PERSONAL="~/Documents/personal/"
export DIR_WORK="~/Documents/work/"

# pipe fzf searches through ag
# it's faster and allows filtering out .gitignore content
if [[ ! -z $(which fzf) ]] && [[ ! -z $(which ag) ]]; then
  export FZF_DEFAULT_COMMAND='ag --nocolor -g ""'
  export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
  export FZF_ALT_C_COMMAND="$FZF_DEFAULT_COMMAND"
  export FZF_DEFAULT_OPTS='
  --color fg:242,bg:236,hl:65,fg+:15,bg+:239,hl+:108
  --color info:108,prompt:109,spinner:108,pointer:168,marker:168
  '
fi

# curl
export LDFLAGS="-L/${BREW_PREFIX}/opt/curl/lib"
export CPPFLAGS="-I/{BREW_PREFIX}$/opt/curl/include"
PATH="${BREW_PREFIX}/opt/grep/libexec/gnubin:$PATH"

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

# path
PATH=$PATH:$HOME/bin:$HOME/.config/bin:/usr/local/bin:/usr/local/sbin:usr/bin:/usr/sbin
export PATH
