#!/usr/bin/env bash

#####################################################################################
#                                                                      EXPORTS / PATH
#####################################################################################

export EDITOR="vi"
export VISUAL="nvim"

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';
export HISTIGNORE='ls:v:exit:..:...:cd .'

# locale needed for tmux to digest nerd fonts properly
export LANG="en_US.UTF-8"
export LC_ALL=$LANG

# Folders for git / backup purposes
export DIR_PERSONAL="~/Documents/personal/"
export DIR_WORK="~/Documents/work/"

# Delimiters
export SPLIT_DELIMITER="__________"

# exa icons
export EXA_ICON_SPACING=2

if [[ `which python3` != "" ]]; then
  export PYTHON=python3
fi

# pipe fzf searches through rg
# it's faster and allows filtering out .gitignore content
if [[ ! -z $(which fzf) ]] && [[ ! -z $(which rg) ]]; then
  export FZF_DEFAULT_COMMAND="rg --hidden --no-ignore --glob=!.git/ --files"
  export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
  export FZF_ALT_C_COMMAND="$FZF_DEFAULT_COMMAND"

  # Set up fzf key bindings and fuzzy completion (fzf v0.48+)
  # This MUST be sourced AFTER bash completion (.profile)
  eval "$(fzf --bash)"
  # or set up manually (older)
  # source "/opt/homebrew/opt/fzf/shell/completion.bash"
  # source "/opt/homebrew/opt/fzf/shell/key-bindings.bash"
fi

# Puppeteer needed for visual regression tests
# recommended: brew install --cask eloston-chromium
export PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
export PUPPETEER_EXECUTABLE_PATH=/Applications/Chromium.app/

# Path folders
PATH=$PATH:/usr/local/bin:/usr/local/sbin:usr/bin:/usr/sbin

# Personal folders (recursive)
PATH=$HOME/bin$(find $HOME/.config/bin -type d -printf :%p):$PATH

# node/nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Dynamically add all node versions installed via nvm to beginning of PATH,
# to take precedence over any other node version 
# (i.e. installed via brew install node or any formula dependencies)
for f in $HOME/.nvm/versions/node/*; do
  if [ -d "$f" ]; then
      PATH=$f/bin:$PATH
  fi
done

# Rust
. "$HOME/.cargo/env"

export PATH

