#!/usr/bin/env bash

#####################################################################################
#                                                                             EXPORTS
#####################################################################################

export EDITOR="vi"
export VISUAL="nvim"

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# locale needed for tmux to digest nerd fonts properly
export LANG="en_US.UTF-8"
export LC_ALL=$LANG

# Folders for git / backup purposes
export DIR_PERSONAL="$HOME/Documents/personal"
export DIR_WORK="$HOME/Documents/work"
